:root {
  --primary-text: 'Segoe UI';
  --primary-font-size: 16px;
  --primary-font-weight: 400;
  --primary-line-height: 30px;
  --primary-letter-spacing: 0.02em;

  --primary-text-color: black;
  --secondary-text-color: rgb(10, 14, 252);
  --accent-color: rgb(253, 251, 250);

  --primary-background-color: white;
  --secondary-background-color: rgb(97, 3, 247);
}

body {
  font-family: var(--primary-text), -apple-system, BlinkMacSystemFont, 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: var(--primary-font-size);
  font-weight: var(--primary-font-weight);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
h4,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  color: var(--primary-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
